.header__div {
    display: flex;
    justify-content: space-between;
}

.header__h3 {
    margin-left: 5%;
}

.nav {
    text-align: right;
    width: 50%;
}

.nav__a {
    padding-right: 10%;
    text-decoration: none;
    color: black;

}