.section {
    background-color: rgb(227, 227, 227);
    padding-bottom: 7.5em;
}
.div__table {
    display: flex;
    justify-content: center;
    padding: 2em 0  1em 0;
    margin-right: 7em;
}

.section__input {
    background-color: rgb(227, 227, 227);
    border-style: none;
    text-align: right;
    font-weight: bold;
    font-size: 105%;
    padding-top: 1.5%;
}

.div__flex {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.section__div-center {
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    line-height: 11em;
    margin: 1em;
    padding: 0 11em;
    border-radius: 5px;
}

.section__button-text-decoration {
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
}

.section__div-font-weight {
    text-align: center;
    padding-top: 1em;
    font-weight: bold;
}

.section__small-padding-bottom {
    padding-bottom: 1em;
}